.notification__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14em;
  padding: 1em;
  border-radius: 3px;
  line-height: 1.5;
  color: white;
}

.notification__message {
  word-wrap: break-word;
}
