html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

:root {
  --blue: rgb(38, 45, 64);
  --dark-blue: rgb(30, 36, 56);
  --dark-red: rgb(201, 9, 9);
}
