.form__input {
  display: flex;
  flex-direction: column;
}

.input__label {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5em;
}

.input {
  outline: none;
  padding: 0.8em 1em;
  border: 2px solid var(--dark-blue);
  border-radius: 3px;
}

.error {
  border: 2px solid var(--dark-red);
}

.input__error {
  color: var(--dark-red);
  font-size: 0.8rem;
  margin: 0.5em 0;
}
