.login__form__container {
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  padding: 2em;
  border-radius: 3px;
  color: white;
}

.login__form__title {
  font-size: 1.2rem;
  font-weight: 700;
}

.login__form {
  display: flex;
  flex-direction: column;
}

.login__form > *:not(:last-child) {
  margin-bottom: 1em;
}

.login__form__button {
  align-self: flex-end;
}
